backtrace==0.2.1
dataset==1.6.2
librosa==0.9.2
matplotlib==3.3.3
mir_eval==0.6
numpy==1.24.3
omegaconf==2.1.1
pandas==1.2.3
pretty_midi==0.2.10
pypesq==1.2.4
resampy==0.2.2
scikit_learn==0.24.1
scipy==1.5.4
SoundFile==0.10.3.post1
tensorboardX==2.6.2.2
tensorflow==2.13.0
torch==1.10.0+cu111
torchaudio==0.10.0+cu111
tqdm==4.46.0
train==0.0.5
