# 1. Config of the directory of logs and the checkpoint.

experiment_name: GDDSP_Clean_Check_Idea_decreasing_lr
check_point_load_path: null 
# null in yaml file is regarded as boolean operator "None" when it is read in python file.
# null = train from scratch

check_point_save_path: /home/snu14322/YB_GDDSP_clean/train/checkpoint/
check_point_save_period : 2
sample_audio_recon_save_path : /home/snu14322/YB_GDDSP_clean/train/sample_audio_recon/
sample_audio_recon_save_period : 2
tensorboard_dir: /home/snu14322/YB_GDDSP_clean/train/tensorboard_log/

# 2. Config of dataset and the time-unit of audio excerpts 
train_path: /data4/guitarset/audio_hex-pickup_debleeded/train/
valid_path: /data4/guitarset/audio_hex-pickup_debleeded/valid/
sample_rate: 22050
slice_length: 4
slice_hop: 2
#slice_length and slice_hop is used for slicing the long_audio data into input_excerpt with fixed length
# These length and hop is not for encoder, decoder, oscillators, and noise generator.  
# encoder, decoder, oscillators, and noise generator have their own operating frame_length and hop.



# 3. Config of Training Units and the Schedule
seed: 10
batch_size: 16 #default = 64
optimizer: radam

lr: 0.002
lr_decay: 0.95     # The decreasing ratio of lr (= gamma)
lr_decay_period : 10 # lr decreases by every 10 epochs.
lr_min: 1.0e-07
lr_scheduler: multi
#validation_interval: 1000
#valid_waveform_sec: 12


# 4. Config of the structure and the hyperparameters of AutoEncoder.
enc_pitch:
    ## Option1 (Use https://arxiv.org/abs/2203.09893)
    structure : light_basic_pitch
    checkpoint : ICASSP_2022_MODEL_PATH
    threshold_top_six : true # if true -> Leave only the top 6 pitches(=pitches have highest confidences) per each time frame.
    
    weight_sum_for_top_six : true 
    # Don't confirm the top 6 pitches as the "true pitches" in that frame.
    # Instead, Find the true-f0 center around each top pitch.
    # ex> The confidence list : [390Hz:0.3 400Hz: 0.9 410Hz : 0.3, 690Hz:0.3, 700Hz:0.9, 710Hz:0.3]
    # Imagine that you wanna detect the Two pitches/
    # Then 400Hz and 700Hz are Pitch-Candidates in this frame,  due to their high confidences.
    # However it is not guaranteed that those pitches exactly match the true pitches in audio
    # Maybe the true pitch is 401 or 399Hz, and the Spectral Energy of it spans on  390Hz, 400Hz, and 410Hz
    # So Get the weighted-Average of All Local bins around 400Hz (390,400,410), and declare it as first true pitch
    # Then Repeat this process for 700Hz too.
    # (Summary) To Find Accurate Pitch, Use not only {f0, confidence} of six pitches with toppest confidences, but also {f0, confidence} of "neighbor bins" around six pitches.

    confidence_thres : 1.2
    # Even if some pitch bin has specially high confidence and is regarded as center of true pitch,
    # It can still indicate "silence"
    # Becuase the top-six highest pitch confidences are only "relatively" high, still not "definitely" high.
    # So If the local sum of confidences around true pitch candidate is lower than threshold,
    # Dont get true-weighted average of f0, just ignore it as silence.(=zero change in phase = f0 is 0 Hz)
    # ex> confidence of each freq bin : [390Hz:0.01 400Hz: 0.35 410Hz : 0.01,   690Hz:0.3, 700Hz:0.95, 710Hz:0.3]
    # -> Local Weighted Average of f0 around 700Hz => determined as true pitch
    #  Local Weighted Average of f0 around 400Hz => determined as silence (as the sum of confidences of 390,400,410 = only 0.37 << thres)

    nearby_pitch_grouping : true
    



    ## Option2 (Use https://arxiv.org/abs/2111.03017)
    # structure : "MT3"

enc_loud:
    structure : A_weight_rule_based

use_z : TRUE


frame_resolution: 0.004

# 5. Training Loss #
loss: mss #mss = multi-spectral loss used in Original DDSP peper.
metric: mss


### Etc (still tidying up..) ###

bidirectional: false
gpu: 0
gru_units: 512


mlp_layers: 3
mlp_units: 512
n_fft: 2048
n_freq: 65
n_harmonics: 101
n_mels: 128
n_mfcc: 30
num_step: 100000
num_workers: 4

resume: false

use_reverb: false
use_dist : false
z_units: 16
